* {
    background-color: rgb(45, 44, 44);
    background-size: auto;
    font-family: 'Cairo', sans-serif;

}
h1 {
    color: rgba(199, 225, 228, 1);
    display: flex;
    justify-content: center;
}

.g {
    text-decoration: none;
    color: rgba(199, 160, 228, 1);
    border-radius: 1vw;
}
a:hover {
    color: azure;
}

div p{
    color: rgba(199, 225, 228, 1);
    font-size: 200%;
    padding: 0 5%;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

img {
    width: 10%;
    height: 10%;


}
