* {
    background-color: rgb(45, 44, 44);
    background-size: auto;
    font-family: 'Cairo', sans-serif;
}
h1 {
    color: rgba(199, 225, 228, 1);
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
h2 {
    color: rgba(199, 225, 228, 1);
    padding: 0 10%;

}
a {
    padding: 0 5%%;
}

p {
    color: rgba(199, 225, 228, 1);
    font-size: 100%;
    padding: 0 10%;    
}
ul{
    color: rgba(199, 225, 228, 1);
    font-size: 100%;
    padding: 0 10%;
}
pre {
    color: rgb(196, 196, 255);
    padding: 0% 10%;
}
li {
    color: rgba(199, 225, 228, 1);
    font-size: 100%;
    padding: 0 1%;
}

p a:hover {
    color: wheat;
    
}
p a {
    text-decoration: none;
    color: aqua;
}
